*{
	border: 0; 
	margin:0; 
	padding:0;
}

.container{
	display:flex; 
	flex-direction: column;
	justify-content:center;
	height: 100vh;
	width: 100vw;
	background-color: #ff9933;
	&:before{
	content:'';
	position:absolute; 
		height:0; 
		width:0; 
		border:{
			bottom:solid 100vh #cc9999;
			left: solid 100vw transparent;
		}
	}
}

span{
	z-index: 99;
	text-align: center; 
	width: 100vw;
	color: #cc0033;
	font-size: 1.2rem;
	text-transform:uppercase;
}
	.off{
	font-size:5rem;
	line-height:8rem;
	}